@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 29, 29);
}
.navbar-box{
    animation: slideBottom 1.5s ease forwards;
}

.first-page{ 
    width: 100%;
    height: 100vh; 
    background-image: url(black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.moible{
    width: 100%;
    height: 60vh;
    display: flex;
}
.home-content{
    
    color: aliceblue;  
    margin-left: 3%;
    margin-top: 5%;
    float: left;   
    width: 40%;
    height: 70%;
    overflow: auto;
}

.image{   
    /* border: 2px solid red; */
    width:60%;
    height:123%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideIn 1s ease forwards;
}
.imageme{
    width: 840px;
    height: 100%;
    filter:drop-shadow( 0 0 20px rgb(74, 74, 74))
}
.home-content h3{  
    font-size: 30px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .3s;
    opacity: 0;
    font-family: 'Kanit', sans-serif;
}
.home-content h3 :nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    animation: in 1s ease forwards;
    animation-delay: .3s;
    opacity: 0;
    font-family: 'Karla', sans-serif;
} 
.home-content p{
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}

.social-media{
    margin-left: 3%;
    width:fit-content;
    
}
.bxl-facebook{
    animation: slideRight 1s ease forwards;
}
.bxl-twitter{
    animation: slideRight 1.2s ease forwards;
}
.bxl-instagram-alt{
    animation: slideRight 1.4s ease forwards;
}
.bxl-linkedin{
    animation: slideRight 1.6s ease forwards;
}
.social-media a{   
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef; 
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.Download{
    margin-left: 3%;
    display: inline-block;
    padding: 12px 28px;
    color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
}
.Download:hover{
    background: #0ef;
    color: #1f242d;
    font-weight: 1200;
    box-shadow: 0 0 20px #0ef;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideIn {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.about-me{
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column; 
    border: 2px solid rgb(65, 65, 65);
    display: none;  
}
.about-me.active{
   display:flex;
}
.close-about-box{
    margin-left: 92%;
    margin-top: 1%;
    font-size: 40px;
    position: relative; 
}
.close-about-box a{
    width: fit-content;
    display: inline-flex;
    color: #0ef; 
    transition: .5s ease;
    background: transparent;
    text-decoration: none;
}
.close-about-box a:hover {
    color: rgba(0, 238, 255, 0.5);  
    box-shadow: 0 0 20px #0ef;
}
.about-h1{
    color: white;
    text-align: center;
    padding: 1%;
    display: flex;
    animation: slideRight 1s ease forwards;
    font-family: 'Playfair', serif;
}
.me-h1{
    color: #0ef;
}
.about-me-photo{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideRight 1.6s ease forwards;
    animation-delay: .2s;
}
.image-about-me{
    width: 170%;
    height: fit-content;
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me-h3{
    color: rgba(255, 255, 255, 0.884);
    margin-top: 3%;
    animation: slideRight 2.2s ease forwards;
    animation-delay: .2s;
}
.about-me-info{    
    width: 69%;
    height: 12%;
    margin-top: 3%;
    overflow:auto;    
    text-align: center;
}

.about-me-read-more{
    width: 9%;
    height: 8%; 
    color: #0ef;
    margin-top: 2%;
    background:none;
    border-color: #0ef;
    border-radius: 10px;
}
.about-me-info1{
    color: white;
    font-family: 'Open Sans', sans-serif;
  
}
.education-me{
    width: 100%;
    height: 100vh;
    border: 2px solid rgb(65, 65, 65);
    display: none;  
    animation: slideBottom 1.5s ease forwards;
}
.education-me.active{
   display: block;
}
.close-education-box, .close-skills-box{
    margin-left: 93%;
    font-size: 40px;
    position: relative; 
}
.close-education-box a, .close-skills-box a{
    width: fit-content;
    display: inline-flex;
    color: #0ef; 
    transition: .5s ease;
    background: transparent;
    text-decoration: none;
}
.close-education-box a:hover, .close-skills-box a:hover {
    color: rgba(0, 238, 255, 0.5);  
    box-shadow: 0 0 20px #0ef;
}

.education-logo{
    margin-top:0;
    color: white;
    margin-left:3%;  
    width:fit-content;
    height: fit-content;
    text-decoration:underline #0ef;
    margin-right: 5%; 
    animation: slideRight 1.2s ease forwards;
    animation-delay: .3s;
}
.introduce-logo{
    color: white;
    text-align: center;
    animation: slideBottom 1.2s ease forwards;
    animation-delay: .3s;   
}
.education-10th{
    border-bottom: .5px solid rgba(152, 152, 152, 0.682);
    width: 35%;
    height: 30%;
    margin-top: 3%;
    float: left;
    margin-left: 13.5%;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}
.education-12th{
    border-bottom: .5px solid rgba(152, 152, 152, 0.682);
    width: 35%;
    height: 30%;
    margin-top: 3%;
    float: left;
    margin-left: 3%;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}
.introduce-month{
    color: rgba(255, 255, 255, 0.967);
    font-family: 'Libre Baskerville', serif;
    font-size:20px; 
}
.education-bca{
    border-bottom: .5px solid rgba(152, 152, 152, 0.682);
    width: 63%;
    height: 25%;
    text-align: center;
    margin-top: 5%;
    float: left;
    margin-left: 18.5%;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}
.logo-cal-p .bx-calendar-alt{
    color:rgba(240, 248, 255, 0.758) ;
    text-align: center;
    padding:1%;
    margin-left: 3.5%;
    margin-top:4%
}
.logo-bca .bx-calendar-alt{
    color:rgba(240, 248, 255, 0.758) ;
   font-size: 30px;
   text-align: center;
   padding:1%;
   margin-left: 1.5%;
   margin-top:1%;
}
.introduce-month-BCA{
    font-size:20px;  
   
    font-family: 'Libre Baskerville', serif;
}
.completed{
    color: aliceblue;
    margin-left: 5.5%;
    text-decoration: underline rgb(0, 255, 221);
}
.completed-BCA1{
    color: aliceblue;
    margin-left: 2.8%;
    text-decoration: underline rgb(0, 255, 221);
}
.introduce-info{
    font-size:15px;
    margin-left: 5.5%;
    color: aliceblue;
    text-align:start;
    word-spacing: 1px;
}
.introduce-info-BCA{
    font-size:15px;
    margin-left: 3%;
    margin-top: 2%;
    color: aliceblue;
    text-align: center;
    word-spacing: 1px; 
}
.introduce-month-BCA{
    font-size: 22px;
}
.introduce-month-BCA{
    color: rgba(255, 255, 255, 0.967);
}
.skills-me{
    width: 100%;
    height: 100vh;
    border: 2px solid rgb(65, 65, 65);
    display: none;
    animation: slideBottom 1s ease forwards;  
}
.skills-me.active{
    display: block;
}
.skills-me-box1 {
    border:2px solid grey;
    width: 26.5%;
    height: 24%;
    margin-top: 5%;
    float: left;
    margin-left: 5%;
    overflow:auto;
}
.skills-me-box2{
    border:2px solid grey;
    width: 26.5%;
    height: 24%;
    margin-top: 5%;
    float: left;
    margin-left: 5%;
    overflow: auto;
}
.skills-logo{ 
    color: white;
    font-size: 40px;
    margin-left: 4%;
}
.bxl-html5 ,.bxl-css3 , .bxl-javascript ,.bxl-react ,.bxl-java{
    margin-top: 4.2%;
}
.logo-name{
   float: right;
   font-size: 16px;
   margin-top: 8px;
   margin-left: 5px;
}
.logo-name-js{
    float: right;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 5px;
}
.logo-name-java{
    float: right;
    font-size: 16px;
    margin-top: 11px;
    margin-left: 5px;
}
.read-more-btn{
    color: rgba(255, 255, 255, 0.658);
}
.contact-box{ 
    width: 100%;
    height: 100vh;
    border: 2px solid rgb(65, 65, 65);
    display: none; 
    animation: slideBottom 1s ease forwards;   
}
.contact-box.active{
    display: block;  
}

.close-box{
    margin-left: 91%;
    font-size: 40px;
    position: relative; 
}
.bx-x{
    cursor: auto;
}
.close-box a{
    width: fit-content;
    display: inline-flex;
    color: #0ef; 
    transition: .5s ease;
    background: transparent;
    text-decoration: none;
}
.close-box a:hover{
    color: rgba(0, 238, 255, 0.5);  
    box-shadow: 0 0 20px #0ef;
}
.emailbox{
    overflow:auto;
    border: 1px solid rgb(8, 255, 239);
    width:60%;
    height:70%;
    margin-left:20%;
    margin-top:3%;
    background: none;
    backdrop-filter: blur(10px);
}
.mail1 ,.mail2{
 color: rgba(240, 248, 255, 0.777);
 outline: none;   
 border: none;
 padding: 1%;
 width: 35%;
 height: 10%;
 margin-left:10%;
 font-size: 25px;
 font-weight: 500px;
 background:none;
 border-bottom: 1px solid white;
}
.mail1{
    margin-top:5%; 
}
.mail2{
    margin-top:3%;
}
textarea{
    width:35%;
    padding: 1%;
    margin-left:10%;
    font-size: 24px;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.755);
    margin-top: 3%;
    overflow:auto;
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.send{
    font-size: 20px;
    margin-left: 3%;
    color: rgba(240, 248, 255, 0.792);
    width:15%;
    height: 7vh; 
    background:none;
    border-color: rgb(0, 242, 255);
    border-radius: 20px;
}
.send:hover{
    color: rgba(0, 238, 255, 0.5);  
    box-shadow: 0 0 20px #0ef;
}
.mail1 .mail2::placeholder{
    color: rgba(240, 248, 255, 0.748);
}
textarea::placeholder{
    color: rgba(240, 248, 255, 0.749);
    font-weight: 400;
}


@media screen and (max-width:991px  ) {
    .close-about-box{
        margin-left:88%;
        margin-top: 3%;
        font-size: 37px;  
    }
    .education-10th{
        width: 38%;
        height: 23%;
        margin-left: 12%;
    }
    .education-12th{
        width: 38%;
        height: 23%;
    }
    .close-education-box, .close-skills-box{
        margin-left: 92%;
        font-size: 38px;
    }
    .skills-me-box1 {    
     height: 20%;
     margin-top: 7%;   
     margin-left: 5%;
    }
    .skills-me-box2{     
     height: 20%;
     margin-top: 5%;
     float: left;
     margin-left: 5%;
     overflow: auto;
    }
    .skills-logo{   
     font-size: 38px;   
    }
    .logo-name{
     font-size: 13px;
    }
    .logo-name-js{
     font-size: 13px;
    }
    .logo-name-java{
     font-size: 13px; 
    }
    .emailbox{
     overflow:auto;
     border: 2px solid rgb(8, 255, 239);  
     width:70%;
     height:60%;
     margin-left:14.5%;
     margin-top:5%;  
    backdrop-filter: blur(10px);
    }
    .close-box{
        margin-left: 90%;
        font-size: 35px;  
    }
    .mail1 ,.mail2{
     font-size: 23px; 
    }
    .mail1{
        margin-top:5%;  
    }
    .mail2{
        margin-top:3%;
    }
    textarea{
        font-size: 20px;    
    }   
}
@media screen and (max-width:800px  ) {
    .close-about-box{
        margin-left:88%;
        margin-top: 3%;
        font-size: 35px;  
    }
    .close-education-box, .close-skills-box{
        margin-left: 90%;
        font-size: 38px;
    }
    .education-10th{
        width: 35%;
        height: 20%;
        margin-left: 13%;
    }
    .education-12th{
        width: 35%;
        height: 20%;
    }
    .education-bca{
        width: 67%;
        height: 20%;
        margin-top: 5%;
        float: left;
        margin-left: 16%;
    }
    .completed-BCA1{
        margin-top: 4%;
    }
    .introduce-info-BCA{
        margin-top: 4%;
    }
    .skills-me-box1 {
        height: 18%;
        margin-top: 10%; 
    }
    .skills-me-box2{
        height: 18%;
    }
    .skills-logo{ 
        font-size: 38px; 
    }
    .logo-name{
       font-size: 13px;
    }
    .logo-name-js{
        font-size: 13px;    
    }
    .logo-name-java{
        font-size: 13px; 
    }
    .close-box{
        margin-left: 89%;
        font-size: 30px;  
    }
}

@media screen and (max-width:750px  ) {
.home-content h3{  font-size: 32px;
     font-weight: 400;
     font-size: 20px;
     animation: slideBottom 1s ease forwards;
     animation-delay: .3s;
     opacity: 0;
    }
.home-content h1{
     font-size: 36px;
     font-weight: 600;
     margin: -3px 0;
     animation: slideTop 1s ease forwards;
     animation-delay: .3s;
     opacity: 0;
    }
.home-content p{
     font-size: 12px;
    }
.about-me-photo{
     width: 170px;
     height: 170px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
.image-about-me{
     display: flex;
     align-items: center;
     justify-content: center;
    }
.about-me-h3{
     color: rgba(255, 255, 255, 0.884);
     margin-top: 4%;
    }
.about-me-info{
     width: 80%;
     height: 13%;
     margin-top: 4%;
    }
.about-me-read-more{ 
     width: 13%;
     height: 7%; 
     font-size: 15px;
     color: #0ef;  
     margin-top: 4%;
     background:none;
     border-color: #0ef;
     border-radius: 10px;   
    }

.skills-me-box1 {
     width: 42.3%;       
     height: 20%;
     margin-top: 5%;   
    }
.skills-me-box2{
     width: 42.3%;       
     height: 20%;
     margin-top: 5%; 
    }
.skills-logo{ 
     font-size: 38px;   
    }
.logo-name{
     font-size: 13px;
    }
.logo-name-js{
     font-size: 13px;
    }
.logo-name-java{  
     font-size: 13px;
    }
}
@media screen and (max-width:600px  ) {
    .close-about-box{
        margin-left:86%;
        margin-top: 3%;
        font-size: 33px;  
    }
    .close-education-box, .close-skills-box{
        margin-left: 87%;
        font-size: 34px;
    }
    .education-10th{
        width: 37%;
        height: 18%;
        margin-left: 12%;
        margin-top: 15%;
    }
    .education-12th{
        width: 37%;
        height: 18%;
        margin-top: 15%;
    }
    .education-bca{       
        width: 67%;
        height: 18%;
        margin-top: 2%;        
        margin-left: 17.5%;
    }
    .logo-10th ,.logo-12th{
       font-size: 18px;
    }
    .logo-bca{
        font-size: 20px;
    }
    .introduce-logo{
        font-size: 25px;   
    }
    .logo-cal-p .bx-calendar-alt{                 
        font-size: 20px;                
    }
    .logo-bca .bx-calendar-alt{                
       font-size: 23px;
    }
    .introduce-month{
        font-size:17px;   
    }
    .completed{
        font-size:17px; 
    }
    .completed-BCA1{
        font-size:19px; 
    }
    .introduce-info{
       font-size: 14px;
        
    }
    .introduce-info-BCA{
        font-size:15px;                 
    }
    .introduce-month-BCA{
        font-size: 20px;
    }
    .close-box{
        margin-left: 87.5%;
        font-size: 28px;  
    }
    .mail1 ,.mail2{
        font-size: 23px; 
        width: 40%;
        margin-left:5%;
        font-size: 20px;
    }      
    textarea{
        font-size: 18px; 
        margin-left: 5%;
        width: 60%;   
    }
    .send{
        width: 20%;
        font-size: 18px;
    }
}
 @media screen and (max-width:500px  ) {
    .image{
        width:70%;
    }
    .close-about-box{
        margin-left:86%;
        margin-top: 3%;
        font-size: 30px;  
    }
    .close-education-box, .close-skills-box{
        margin-left: 86%;
        font-size: 33px;
    }
    .skills-me{
        display: flex;
        flex-direction: column;
        align-items: center;     
        height:160vh;
        display: none;
    }
    .skills-me.active{
        display: flex;
    }
    .skills-logo{
        margin-left: 0%;
    }
    .skills-me-box1 {
        width: 70%;       
        height: 13%;
        margin-top: 5%;
        margin-left: 0%;       
    }
    .skills-me-box2{
        width: 70%;       
        height: 13%;
        margin-top: 5%;
        margin-left: 0%;
    }
    .skills-logo{     
        font-size: 38px;      
    }  
    .logo-name{     
       font-size: 13px;
          
    }
    .logo-name-js{     
        font-size: 13px;     
    }
    .logo-name-java{      
        font-size: 13px;     
    }
    .emailbox{
        height: 70%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .close-box{
        margin-left:68%;
        font-size: 28px;  
    }
    .mail1 ,.mail2{
        font-size: 18px; 
        width:95%;
        height: 5vh;
        display: flex;
        padding: 1%;
        font-size: 20px;
    }
    .mail1{
        margin-top:5%;  
    }
    .fname{
        margin-top: -10px;
        margin-bottom: 21px;
    }
    .email-me{
        margin-top: -1px;
        margin-bottom: 13px;
    }
    .no{
        margin-top: 22px;
    }
    .mail2{
        margin-top: 0;
    }      
    textarea{
        padding:1%;
        font-size: 15px; 
        margin-top: 7%;
        width: 95%; 
        text-align: start;  
    }
    .send{
        margin-top: 10%;
        margin-left: 32%;
        width: 32%;
        height: 17%;
        font-size: 15px;
        
    }
}
@media screen and (max-width:425px  ) {
    .moible{
       display: flex;
       flex-direction: column-reverse;
       height: 71vh;
    }
    .Download{
        margin-left: 0;
    }
    .first-page{
        height: 105%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-content{
        color: aliceblue; 
        margin-left: 5%;
        margin-top: 2%;      
        width: 90%;
        height: 50%;
        overflow: auto;
    }
    .home-content h1{
        font-size: 30px;
        font-weight: 500;
        margin: -3px 0;   
    } 
    .image{   
        width:100%;    
    }
    .imageme{
        width: 105%;
        
        
    }
    
    
    .about-me-photo{
        width: 150px;
        height: 150px; 
        margin-top: 5%; 
    }
    .about-me-h3{
        margin-top: 5%;
    }
    .about-me-info{    
        width: 80%;
        height: 13%;
        margin-top: 5%;
    } 
    .about-me-read-more{
        width: 16%;
        height: 6%; 
        font-size: 11px;
        font-weight: 500px;
        color: #0ef;    
        margin-top: 4%;
        background:none;
        border-color: #0ef;
        border-radius: 10px;    
    }
    .education-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .education-me.active{
        display: flex;
    }
    .education-10th{
        width: 80%;
        height: 17%;
        margin-left:0%;
        margin-top: 5%;
    }
    .education-12th{
        width: 80%;
        height: 17%;
        margin-left:0%;
        margin-top: 7%;
    }
    .education-bca{  
        width: 80%;
        height: 20%;
        margin-left:0%;
        margin-top: 7%; 
        text-align: start;    
    }
    .introduce-info-BCA{
        text-align: start;
    }
    .skills-me-box1 {       
        height: 11%;     
    }
    .skills-me-box2{          
        height: 11%;    
    }
    .skills-logo{     
        font-size: 35px;          
    }  
    .logo-name{      
       font-size: 12px;         
    }
    .logo-name-js{     
        font-size: 12px;      
    }
    .logo-name-java{  
        font-size: 13px; 
    }
    .emailbox{
        margin-top: 11%;    
    }
    .mail1 ,.mail2{               
        width: 50vw;
        height: 8vh;
        margin-left: 9%;
        font-size: 19px;
    }
    .fname{
        margin-bottom: -17px;
    }
    .email-me{
        margin-bottom: -4px;
    }
       .mail1{
        font-size: 19px;
        
    }
    .email-me{
        margin-top: -8%;
    }
       .mail2{ 
        font-size: 19px;
    }     
       textarea{
        margin-left: 9%;
        margin-top: 12px;
        width: 50vw;
        height: 8vh;
        text-align: start;
        font-size: 13px;         
    }
       .send{      
        margin-top: 5%;
        margin-left: 33%;
        font-size: 17px;
        width: 22vw;
        height: 47px;
    }
}
@media screen and (max-width:369px  ) {
    .close-about-box{
        margin-left:86%;
        margin-top: 3%;
        font-size: 27px;  
    }
    .close-education-box, .close-skills-box{
        margin-left: 84%;
        font-size: 31px;
    }
    .home-content{
        height:fit-content;
    }
    .home-content h1 {
        font-size: 38px;
        font-weight: 400;
    }
    .moible{
        
        margin-bottom: -2px;
        height: 45%;
    }
  
   .introduce-logo{
    font-size: 23px;   
    }
    .emailbox{
        margin-top: 8%;    
    }
    .close-box{      
        margin-left:65%;
        font-size: 25px;  
    }
    .mail1 ,.mail2{               
       font-size: 21px;
    }
    .email-me{
        margin-top: -26px
    }
    .education-10th{
        width: 80%;
        height: 17%;
        margin-left:0%;
        margin-top: 5%;
    }
    .education-12th{
        width: 80%; 
    }
    .education-bca{  
        width: 80%;  
    }
}
@media screen and (max-width:334px  ) {
    .home-content h1 {
        font-size: 38px;
        font-weight: 400;
    }
    .moible{
       height: 40%;
    }
     .close-about-box{
        margin-left:82%;
        margin-top: 3%;
        font-size: 25px;  
    }
    .close-education-box, .close-skills-box{
        margin-left: 83%;
        font-size: 30px;
    }
    .about-me-photo{
         width: 150px;
         height: 150px;
    }
    .about-me-h3{
        margin-top: 7%;
    }
    .about-me-info{
        width: 80%;
        height: 13%;
        margin-top: 7%;
    }
   .about-me-read-more{
      width: 20%;
      height: 7%; 
      font-size: 11px;
      font-weight: 500px;
      margin-top: 7%; 
    }
   .introduce-logo{
      font-size: 22px;   
    }
    .emailbox{
        margin-top: 5%;
    }
    .mail1 ,.mail2{               
        font-size: 19px;
     }
     .send{
        margin-left: 35%;
     }
}
@media screen and (max-width:320px  ) {
    .first-page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-content h1 {
        font-size: 34px;
        font-weight: 400;
    }
    .social-media{
        margin-left: 0;
    }
    .close-education-box, .close-skills-box{
        margin-left: 82%;
        font-size: 27px;
    }
    .education-10th{
        width: 70%;
        height: 17%;
        margin-top: 3%;
    }
    .education-12th{
        width: 70%;
        height: 17%;
        margin-top: 10%;
    }
    .education-bca{  
        width: 80%;
        height: 20%;
        margin-top: 10%;       
    }
    .introduce-logo{
        font-size: 20px;  
        margin-top: 3%; 
    }
    .skills-me-box1 {
        width: 75%;
        height: 12%;  
    }
    .skills-me-box2{
        width: 75%;
        height: 12%;  
    }
    .skills-logo{   
        font-size: 35px;    
    }
    .logo-name{ 
       font-size: 12px;    
    }
    .logo-name-js{    
        font-size: 12px;    
    }
    .logo-name-java{    
        font-size: 12px;   
    }   
    .mail1 ,.mail2{               
        width: 68%;
        font-size: 15px;
    }
} 



 
